# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# Dataset
dataset/

# Uploaded images
uploads/
*.jpg
*.jpeg
*.png

# Trained models
*.keras
*.h5

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Allow project screenshots
!screenshots/
!screenshots/*.png

!model/smartwaste_model.keras
